# Introduction to sci-kit learn
This notebook demonstrates some of the most useful functions of the Scikit-Learn library.

What we're going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator(model)/algorithms
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Sace and load trained model
7. Putting it all together

## 0. An end-to-end Scikit-Learn workflow

In [18]:
import numpy as np

In [2]:
# 1. Get the data ready

import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X (features matrix) 
X = heart_disease.drop('target', axis=1)

# Create y (labels)
y = heart_disease["target"]

In [14]:
# 2.Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [15]:
# 3. Fit the model to the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [17]:
clf.fit(X_train, y_train);

In [22]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
268,54,1,0,122,286,0,0,116,1,3.2,1,2,2
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,51,0,2,120,295,0,0,157,0,0.6,2,0,2
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3
46,44,1,2,140,235,0,0,180,0,0.0,2,0,2
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3

In [23]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
212,39,1,0,118,219,0,1,140,0,1.2,1,0,3
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
230,47,1,2,108,243,0,1,152,0,0.0,2,0,2
156,47,1,2,130,253,0,1,179,0,0.0,2,0,2
54,63,0,2,135,252,0,0,172,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3

In [19]:
# Make a prediction
y_label = clf.predict(np.array([0, 2, 3, 4]))

C:\Users\Asus\Desktop\sample_project_1\env\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [25]:
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1], dtype=int64)

In [26]:
y_test

212    0
283    0
230    0
156    1
54     1
      ..
266    0
85     1
249    0
290    0
37     1
Name: target, Length: 61, dtype: int64

In [27]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, y_train)

1.0

In [28]:
clf.score(X_test, y_test)

0.8360655737704918

In [29]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.96      0.71      0.81        31
           1       0.76      0.97      0.85        30

    accuracy                           0.84        61
   macro avg       0.86      0.84      0.83        61
weighted avg       0.86      0.84      0.83        61

In [30]:
confusion_matrix(y_test, y_preds)

array([[22,  9],
       [ 1, 29]], dtype=int64)

In [31]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [32]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test)*100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 81.97%

Trying model with 20 estimators...
Model accuracy on test set: 83.61%

Trying model with 30 estimators...
Model accuracy on test set: 81.97%

Trying model with 40 estimators...
Model accuracy on test set: 80.33%

Trying model with 50 estimators...
Model accuracy on test set: 81.97%

Trying model with 60 estimators...
Model accuracy on test set: 81.97%

Trying model with 70 estimators...
Model accuracy on test set: 85.25%

Trying model with 80 estimators...
Model accuracy on test set: 81.97%

Trying model with 90 estimators...
Model accuracy on test set: 80.33%

In [33]:
# 6. Save a model and load it
import pickle
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [34]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8032786885245902

In [ ]:
# import warnings
#warnings.filterwarnings("default") or "ignore"